@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html, body {
  font-family: 'Playfair Display', serif !important;
}

* {
  font-family: 'Playfair Display', serif !important;
}

.with-header-spacing {
  padding-top: 104px; /* Adjust if header height changes */
} 